# --- DISCORD CREDENTIALS ---
# Found at https://discord.com/developers/applications
DISCORD_TOKEN=token
CLIENT_ID=


# --- SERVER CONFIGURATION ---
GUILD_ID=
# The role ID the bot should give to verified users
VERIFIED_ROLE_ID=
# The channel ID where admins get notified of new uploads
ADMIN_CHANNEL_ID=

# --- WEB UI SETTINGS ---
PORT=3000
# If testing locally, use http://localhost:3000
# If live, use https://your-domain.com
BASE_URL=http://localhost:3000

# --- SECURITY ---
# Password to access the /admin-review dashboard
ADMIN_PASSWORD=hackme123
# A random string used to secure browser sessions
SESSION_SECRET=long-secret



